td.fila_menu
{
	text-align:left;
	font-size: 13px;
	white-space: normal;
}
th.titulo
{
	text-align: left;
	font-size: 15px;
}
#btn-confirmar
{
	width:50%;
	align-content: center;
}
div.comentario
{
	width:100%;
}
